.container {
  background-color: black;
  height: 100px;
  display: flex;
  height: 100vh;
  align-items: flex-start;
  border: 1px solid black;
  width: 80%;
  margin: 0px;
  width: 80px;
  flex-wrap: wrap;
}

.container .header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100px;
  align-items: ;
  padding: 30px;
  background: crimson;
}

.container .header label {
  font-size: 22px;
}

.container .header input {
  font-size: 22px;
  background-color: blue;
  align-items: center;
  outline: none;
}

.container .header button {
  font-size: 22px;
  background: yellow;
  color: black;
  width: 150px;
  height: 40px;
}
.container .heroes{
width: 100px;
padding: 30px;
font-size: 20px;
}

.container .heroes ul li{
  list-style: none;
  border: 1px solid black;
  margin: 5px;
  transition: background 500ms;
}

.container .heroes ul li:hover{
  background: azure;
}

.container .card-hero {
  background: white;
  width: 350px;
  height: 250px;
  margin-left: 5px;
  border-radius: 35px;
  padding: 10px;
  border: 1px solid rgb(255, 231, 231);

}

